[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "libraries/dll"]
	path = libraries/dll
	url = https://github.com/boostorg/dll.git
