[submodule "libraries/h5xx"]
	path = libraries/h5xx
	url = https://github.com/fhoefling/h5xx.git
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git