# ignore external libraries
libraries/external

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output directory and build dirs
build
bin/*

# python build temporaries
*.egg-info

# osx resources
.DS_Store

# intellij resources
.idea