[submodule "contrib/Catch2"]
	path = contrib/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "contrib/pybind11"]
	path = contrib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json
[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt
