steps:
  - bash: |
      conda config --add channels conda-forge
      conda config --set always_yes true
      conda config --set quiet true
    displayName: Configure conda
  - bash: |
      conda install mamba
      mamba clean --all
      mamba update --all
      python -m pip install --upgrade pip
    displayName: Update conda
  - bash: |
      mamba install boa conda-build conda-verify pip
    displayName: 'Install dependencies'
    continueOnError: false
  - bash: |
      conda mambabuild tools/conda-recipe
    displayName: 'Build and test'
    continueOnError: false
